$color-brand-aqua: #25bebc;
$color-brand-blue-light: #397dff;
$color-brand-blue-medium: #397dff;
$color-brand-deep-blue: #102C57;
$color-brand-purple: #9c5bc3;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-header-background: #9A3B3B;
$color-header-links: #E2C799;

$color-brand-dark-green: #004225;
$color-brand-light-green: #9A3B3B;

$color-button-background: $color-brand-dark-green;

